:root{
    --text-color: white;
    --conten-color: #2E4F4F;
    --border-radius: 5px;
    --padding: 10px;
    --font-size: 1.2rem;
    --bgrc-body: linear-gradient(to right, #252B48, #AFD3E2);
    --bgrc-dashboard: linear-gradient(to bottom, #DDF7E3, #7EAA92)
}
body{
    background-image: var(--bgrc-body);
    color: var(--text-color);
    margin: 0;
}

*{
    box-sizing: border-box;
    
}

.container{
    
    display: grid;
   
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 1.5fr 4fr auto;
    border: 2px solid yellow;
}

.dashboard{
    grid-area: 1/1/span 3/1;
    border: 2px solid blue;
    padding: 50px 10px;
    background-image: var(--bgrc-dashboard);
    
}
.dashboard img{
    fill: white;
}
.dashboard li{
    list-style-type: none;
    margin-bottom: calc(var(--padding) * 2);
    
}
.dashboard a{
    text-decoration: none;
    color: var(--conten-color);
    font-size: var(--font-size);
}

.header{
    grid-area: 1/2/1/span 2;
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    flex-wrap: wrap;
}

.leftbar{
    display: flex;
    align-self: flex-start;
    gap: var(--padding);
}

.logo {
    width: 100px;
    height: auto;
}

#author{
    text-align: right;
}
.navbar{
    display: flex;
    gap: calc(var(--padding) * 2);
    margin-right: calc(var(--padding) * 5);
}

.nav-container{
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) * 3);
    margin-right: calc(var(--padding) * 2);
}

.cute-icon img{
    width: 100px;
    height: auto;
}
.search{
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
#search-svg{
    width: 1rem;
}
button{
    border-radius: var(--border-radius);
    padding: calc(var(--padding)/2) var(--padding);
    color: var(--text-color);
    font-weight: bold;
    background-color: rgb(73, 130, 168);
    
}

button:hover{
    background-color: aquamarine;
    cursor: pointer;
}

button.upload{
    margin: 0 var(--padding);
    
}




.trending{
    grid-area: 2/2/2/2;
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.trending > *{
    border: 2px solid red;

}

.projects{
    grid-area: 3/2/3/2;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
}
.projects > *{
    border: 2px solid yellow;
    
}

.anouncements{
    grid-area: 2/3/span 2/3;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;   
    padding: 50px 5px;
}
.anouncements > *{
    border: 2px solid pink;
    
}

.footer{
    grid-area: 4/1/4/span 3;
    text-align: center;
    align-self: center;
    background-color: #7EAA92;
}