:root{
    --text-color: white;
}
body{
    background-color: #252B48;
    color: var(--text-color);
    margin: 0;
}

*{
    box-sizing: border-box;
    
}

.container{
    
    display: grid;
   
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 1fr 1.5fr 4fr auto;
    border: 2px solid yellow;
}

.dashboard{
    grid-area: 1/1/span 3/1;
    border: 2px solid blue;
    padding: 50px 10px;
    background-color: #7EAA92;
}
.dashboard img{
    fill: white;
}
.dashboard li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
.dashboard a{
    text-decoration: none;
    color: var(--text-color);
}

.header{
    grid-area: 1/2/1/span 2;
    border: 2px solid blue;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.leftbar{
    display: flex;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    margin-right: 30px;
}


.trending{
    grid-area: 2/2/2/2;
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.trending > *{
    border: 2px solid red;

}

.projects{
    grid-area: 3/2/3/2;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
}
.projects > *{
    border: 2px solid yellow;
}

.anouncements{
    grid-area: 2/3/span 2/3;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;   
    padding: 50px 5px;
}
.anouncements > *{
    border: 2px solid pink;
}

.footer{
    grid-area: 4/1/4/span 3;
    text-align: center;
    align-self: center;
    background-color: #7EAA92;
}