*{
    box-sizing: border-box;
    
}

.container{
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 2fr;
}

.dashboard{
    grid-area: 1/1/span 3/1;
    border: 2px solid blue;
    padding: 100px 10px;
}
.dashboard li{
    list-style-type: none;
    margin-bottom: 10px;
    
}
.dashboard a{
    text-decoration: none;
}

.header{
    grid-area: 1/2/2/span 2;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    padding: 20px;
}


.trending{
    grid-area: 2/2/2/2;
    border: 2px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.trending > *{
    border: 2px solid red;

}

.projects{
    grid-area: 3/2/3/2;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
}
.projects > *{
    border: 2px solid yellow;
}

.anouncements{
    grid-area: 2/3/span 2/3;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;   
    padding: 50px 5px;
}
.anouncements > *{
    border: 2px solid pink;
}